<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <h1 v-text="'Hello'+ ' ' + name + ' ' + 'WE Are Happy To See You.'"></h1>
        <p v-if="name">Welcome {{name}}!</p>
        <p v-else>You Didnt Enter Your Name</p>
        <!-- <h2>{{message}}</h2> -->
        <h4 v-if="age >= 50">You Are too Old</h4>
        <h4 v-else-if="age >= 15 && age < 45">You Are not too Old</h4>
        <h4 v-else>You Are Still Young</h4>
        <!-- <h4>{{'Your First Skills is:' + ' ' +skills[0]}}</h4> -->
        <h4>You Are {{isSubscribed ? 'Subscribed' : 'Not Subscribed'}}!</h4>
        <!-- <p>Your First Test Name is: {{completedTests[0].TestName}}</p> -->
        <!-- <p>Your First Test Score is: {{completedTests[0].testResult}}</p> -->
        <p v-html="title"></p>
        <p>{{yourAgeInDays()}} days</p>
        <h5>{{date}}</h5>
        <button @click="showNewDate">Update Date</button>
            <ul>
                <h3>Your Skills is</h3>
                <li v-for="skill in skills">
                    {{skill}} 
                </li>
            </ul>
            <ul>
                <h3>Results</h3>
                <li v-for="test in completedTests">
                    {{test.TestName}}  {{test.testResult}}
                </li>
            </ul>
            <a v-bind:href="imageUrl">
                <img src="imageSrc" alt="imageAlt">
            </a>
            <form action="" method="post">
                <input type="text" name=""  v-model="answear">
            </form>
            60 + 40 = {{answear}}
    </div>

<script type="module">
  import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

createApp({
    data() {
    return {
        message: 'Hello From Vue!',
        name: 'Adnan',
        age: '25',
        skills:['HTML', 'CSS', 'JavaScript','Reactjs', 'Vuejs'],
        date: 'Today',
        title: '<b class="rank">Rank: Noob</b>',
        imageSrc:'images/01.png',
        imageAlt:'The Alternate Text',
        imageUrl:'https://www.google.com',
        isSubscribed: false,
        answear: '',
        completedTests:[
        {
            TestName: 'First Test Score',
            testResult: '80%'
        },
        {
            TestName: 'Second Test Score',
            testResult: '70%'
        },
        {
            TestName: 'Third Test Score',
            testResult: '90%'
        },
    ]
}
    
    },
    methods:{
        yourAgeInDays: function(){
            return 'Your Age In Days' + ' ' +this.age * 365 ;
        },
        showNewDate: function(){
            this.date = Date()
        }
    }
}).mount('#app')
</script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>
</html>